body {
  width: 200px;
}

.color {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
  /* box-shadow: 0 0 0 10px #FFF; */
}

/* .color:checked::before {
  content: '';
  border: 2px solid #000;
} */

.color:checked {
  box-shadow: 0 0 0 2px #FFF, 0 0 0 4px #000;
}

.action-button {
  width: 130px;
  height: 40px;
  border: 2px solid #000;
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
}